@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    background-color: #0f172a;
}

.btn-primary {
    @apply bg-primary hover:bg-primary-dark text-white px-6 py-2 rounded-xl transition-all active:scale-95;
}